<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.knime.workbench.repository.nodes">
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.bwa.BWANodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bwa.BWANodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.SNPcall.SNPcallNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.SNPcall.SNPcallNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.samtools.SamToolsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.samtools.SamToolsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.fastqc.FastQCNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastqc.FastQCNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulator.RawReadManipulatorNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulator.RawReadManipulatorNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.segemehl.SegemehlNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.segemehl.SegemehlNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.fastqcStatisticMerger.FastqcStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastqcStatisticMerger.FastqcStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulatorStatisticMerger.RawReadManipulatorStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulatorStatisticMerger.RawReadManipulatorStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.starStatisticMerger.StarStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.starStatisticMerger.StarStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.featureCountsStatisticMerger.FeatureCountsStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.featureCountsStatisticMerger.FeatureCountsStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.samloader.SAMLoaderNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.samloader.SAMLoaderNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.bamloader.BAMLoaderNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bamloader.BAMLoaderNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.mpileup.MpileupNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.mpileup.MpileupNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.runaligner.RunAlignerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.runaligner.RunAlignerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.vcfutils.VCFutilsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcfutils.VCFutilsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.bcftools.BcftoolsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bcftools.BcftoolsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.runfastqc.RunFastQCNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.runfastqc.RunFastQCNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.bfast.BfastNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bfast.BfastNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.convert2annovar.Convert2AnnovarNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.convert2annovar.Convert2AnnovarNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.getannotationdatabase.GetAnnotationDatabaseNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.getannotationdatabase.GetAnnotationDatabaseNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.annovar.AnnovarNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.annovar.AnnovarNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.bowtie2.Bowtie2NodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bowtie2.Bowtie2NodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.bamsamconverter.BAMSAMConverterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bamsamconverter.BAMSAMConverterNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.snpeffgetdb.SnpEffGetDBNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.snpeffgetdb.SnpEffGetDBNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.snpeff.SnpEffNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.snpeff.SnpEffNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.snpsift.SnpSiftNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.snpsift.SnpSiftNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.fastaSelector.FastaSelectorNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastaSelector.FastaSelectorNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.star.StarNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.star.StarNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.matsResultIndexer.MatsResultIndexerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.matsResultIndexer.MatsResultIndexerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.matsResultPlotter.MatsResultPlotterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.matsResultPlotter.MatsResultPlotterNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.fastqSplitter.FastqSplitterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastqSplitter.FastqSplitterNodeFactory"/>
		
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.fastSam2Bam.FastSam2BamNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastSam2Bam.FastSam2BamNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.featureCounts.FeatureCountsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.featureCounts.FeatureCountsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.samSelector.SamSelectorNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.samSelector.SamSelectorNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkvariantfiltration.GATKVariantFiltrationNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkvariantfiltration.GATKVariantFiltrationNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkphasebytransmission.GATKPhaseByTransmissionNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkphasebytransmission.GATKPhaseByTransmissionNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.limma.LimmaNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.limma.LimmaNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.DESeq.DESeqNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.DESeq.DESeqNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.edgeR.EdgeRNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.edgeR.EdgeRNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.filterLowExpressed.FilterLowExpressedNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.filterLowExpressed.FilterLowExpressedNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.featureCountsMerger.FeatureCountsMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.featureCountsMerger.FeatureCountsMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.mats.MatsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.mats.MatsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.depthofcoverage.DepthOfCoverageNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.depthofcoverage.DepthOfCoverageNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.plotdepthofcoverage.PlotDepthOfCoverageNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.plotdepthofcoverage.PlotDepthOfCoverageNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.kggseq.KGGSeqNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.kggseq.KGGSeqNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.vqsr.VQSRNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vqsr.VQSRNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.summarizelof.SummarizeLOFNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.summarizelof.SummarizeLOFNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkselectvariants.GATKSelectVariantsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkselectvariants.GATKSelectVariantsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkexcludevariants.GATKExcludeVariantsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkexcludevariants.GATKExcludeVariantsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.vcfmerger.VCFMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcfmerger.VCFMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkfiltervqslod.GATKFilterVQSLODNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkfiltervqslod.GATKFilterVQSLODNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/" factory-class="de.helmholtz_muenchen.ibis.ngs.fillmissinggenotypes.FillMissingGenotypesNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fillmissinggenotypes.FillMissingGenotypesNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/" factory-class="de.helmholtz_muenchen.ibis.ngs.filtergatkvariants.FilterGATKVariantsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.filtergatkvariants.FilterGATKVariantsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/" factory-class="de.helmholtz_muenchen.ibis.ngs.reordervcf.ReorderVCFNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.reordervcf.ReorderVCFNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkbamtopileup.GATKBAMtoPileupNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkbamtopileup.GATKBAMtoPileupNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkgenotypeconcordance.GATKGenotypeConcordanceNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkgenotypeconcordance.GATKGenotypeConcordanceNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.plotgatkgenotypeconcordance.PlotGATKGenotypeConcordanceNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.plotgatkgenotypeconcordance.PlotGATKGenotypeConcordanceNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkhaplotypecaller.GATKHaplotypeCallerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkhaplotypecaller.GATKHaplotypeCallerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkcombinegvcfs.CombineGVCFsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkcombinegvcfs.CombineGVCFsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkgenotypegvcfs.GenotypeGVCFsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkgenotypegvcfs.GenotypeGVCFsNodeFactory"/>
		
		<!-- LoF Workflow nodes -->
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.vcfloader.VCFLoaderNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcfloader.VCFLoaderNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkrealignment.GATKRealignmentNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkrealignment.GATKRealignmentNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkbaserecalibration.GATKBaseRecalibrationNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkbaserecalibration.GATKBaseRecalibrationNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkunifiedgenotyper.GATKUnifiedGenotyperNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkunifiedgenotyper.GATKUnifiedGenotyperNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkreadbackedphasing.GATKReadBackedPhasingNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.GATKreadbackedphasing.GATKReadBackedPhasingNodeFactory"/>
	
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.pindel.PindelNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.pindel.PindelNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.picard.PicardToolsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.picard.PicardToolsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.vat.VATNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vat.VATNodeFactory"/>
		
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.lofsummary.LOFSummaryNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.lofsummary.LOFSummaryNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.vep.VEPNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vep.VEPNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.vcftoolsfilter.VCFToolsFilterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcftoolsfilter.VCFToolsFilterNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.vepfilter.VEPFilterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vepfilter.VEPFilterNodeFactory"/>
		
		<node category-path="/" factory-class="de.helmholtz_muenchen.ibis.ngs.fileLoader.FileLoaderNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fileLoader.FileLoaderNodeFactory"/>
		<node category-path="/" factory-class="de.helmholtz_muenchen.ibis.ngs.geneticBackgroundModel.GeneticBackgroundModelNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.geneticBackgroundModel.GeneticBackgroundModelNodeFactory"/>
	</extension>
	
	<extension point="org.knime.workbench.repository.categories">
		<category icon="/libs/icons/ibis.png" level-id="ibis" name="Helmholtz IBIS" path="/"/>
		<!-- NGS -->
		<category icon="/libs/icons/icon_ngs.png" level-id="ngs" name="Next Generation Sequencing" path="/ibis/"/>
		<category icon="/libs/icons/icon_r_red2.png" level-id="ngs_seq" name="Sequenciator" path="/ibis/ngs/ngs_pre/"/>
		<category icon="/libs/icons/icon_r_red2.png" level-id="ngs_pre" name="Preprocessing" path="/ibis/ngs/"/>
		<category icon="/libs/icons/icon_r_yellow2.png" level-id="ngs_asm" name="Mapping" path="/ibis/ngs/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="ngs_post" name="Postprocessing" path="/ibis/ngs/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="gatk" name="GATK" path="/ibis/ngs/ngs_post/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="anno" name="Annotation" path="/ibis/ngs/ngs_post/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="rna" name="RNA-Seq" path="/ibis/ngs/ngs_post/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="sam" name="Samtools" path="/ibis/ngs/ngs_post/"/>
	</extension>
   	
   	<extension point="org.eclipse.ui.preferencePages">
   		<page category="org.knime.workbench.ui.preferences" class="de.helmholtz_muenchen.ibis.knime.preferences.KNIMEPreferencePage" id="de.helmholtz_muenchen.ibis.knime.preferences.KNIMEPreferencePage" name="KNIME4NGS"/>
	</extension>
	
	<extension point="org.knime.core.DataType">
		<DataType cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FileCell" factoryClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FileCellFactory">
			<serializer cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FileCell" serializerClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FileCell$FileSerializer" /> 
		</DataType>
		<DataType cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.VCFCell" factoryClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.VCFCell$VCFCellFactory">
			<serializer cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.VCFCell" serializerClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.VCFCell$VCFSerializer" /> 
		</DataType>
		<DataType cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.BAMCell" factoryClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.BAMCell$BAMCellFactory">
			<serializer cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.BAMCell" serializerClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.BAMCell$BAMSerializer" /> 
		</DataType>
		<DataType cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FastQCell" factoryClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FastQCell$FastQCellFactory">
			<serializer cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FastQCell" serializerClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.FastQCell$FastQSerializer" /> 
		</DataType>
		<DataType cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.GVCFCell" factoryClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.GVCFCell$GVCFCellFactory">
			<serializer cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.GVCFCell" serializerClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.GVCFCell$GVCFSerializer" /> 
		</DataType>
		<DataType cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.SAMCell" factoryClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.SAMCell$SAMCellFactory">
			<serializer cellClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.SAMCell" serializerClass="de.helmholtz_muenchen.ibis.utils.datatypes.file.SAMCell$SAMSerializer" /> 
		</DataType>
	</extension>
</plugin>
