<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <extension point="org.knime.workbench.repository.nodes">
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.bwa.BWANodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bwa.BWANodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.SNPcall.SNPcallNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.SNPcall.SNPcallNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.samtools.SamToolsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.samtools.SamToolsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.fastqc.FastQCNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastqc.FastQCNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulator.RawReadManipulatorNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulator.RawReadManipulatorNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.segemehl.SegemehlNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.segemehl.SegemehlNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.fastqcStatisticMerger.FastqcStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastqcStatisticMerger.FastqcStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulatorStatisticMerger.RawReadManipulatorStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.rawreadmanipulatorStatisticMerger.RawReadManipulatorStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.starStatisticMerger.StarStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.starStatisticMerger.StarStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.featureCountsStatisticMerger.FeatureCountsStatisticMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.featureCountsStatisticMerger.FeatureCountsStatisticMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.genscan.GenscanNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.genscan.GenscanNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.samloader.SAMLoaderNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.samloader.SAMLoaderNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.bamloader.BAMLoaderNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bamloader.BAMLoaderNodeFactory"/>
		<!-- <node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.generateconsensussequence.GenerateConsensusSequenceNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.generateconsensussequence.GenerateConsensusSequenceNodeFactory"/> -->
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.mpileup.MpileupNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.mpileup.MpileupNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.runaligner.RunAlignerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.runaligner.RunAlignerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.vcfutils.VCFutilsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcfutils.VCFutilsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.bcftools.BcftoolsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bcftools.BcftoolsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.runfastqc.RunFastQCNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.runfastqc.RunFastQCNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.bfast.BfastNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bfast.BfastNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.convert2annovar.Convert2AnnovarNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.convert2annovar.Convert2AnnovarNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.getannotationdatabase.GetAnnotationDatabaseNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.getannotationdatabase.GetAnnotationDatabaseNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.annovar.AnnovarNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.annovar.AnnovarNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.bowtie2.Bowtie2NodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bowtie2.Bowtie2NodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/sam" factory-class="de.helmholtz_muenchen.ibis.ngs.bamsamconverter.BAMSAMConverterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.bamsamconverter.BAMSAMConverterNodeFactory"/>
		<node category-path="/ibis/ngs" factory-class="de.helmholtz_muenchen.ibis.ngs.submittoqueue.SubmitToQueueNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.submittoqueue.SubmitToQueueNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.snpeffgetdb.SnpEffGetDBNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.snpeffgetdb.SnpEffGetDBNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.snpeff.SnpEffNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.snpeff.SnpEffNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.snpsift.SnpSiftNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.snpsift.SnpSiftNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.fastaSelector.FastaSelectorNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastaSelector.FastaSelectorNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_asm" factory-class="de.helmholtz_muenchen.ibis.ngs.star.StarNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.star.StarNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.matsResultIndexer.MatsResultIndexerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.matsResultIndexer.MatsResultIndexerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.matsResultPlotter.MatsResultPlotterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.matsResultPlotter.MatsResultPlotterNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre" factory-class="de.helmholtz_muenchen.ibis.ngs.fastqSplitter.FastqSplitterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastqSplitter.FastqSplitterNodeFactory"/>
		
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.beagle.BeagleNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.beagle.BeagleNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.samtoolshybrid.SamtoolsHybridNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.samtoolshybrid.SamtoolsHybridNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.thundercall.ThunderCallNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.thundercall.ThunderCallNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.fastSam2Bam.FastSam2BamNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fastSam2Bam.FastSam2BamNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.featureCounts.FeatureCountsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.featureCounts.FeatureCountsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.samSelector.SamSelectorNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.samSelector.SamSelectorNodeFactory"/>
		<!-- <node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.denovocaller.DeNovoCallerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.denovocaller.DeNovoCallerNodeFactory"/> -->
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkvariantfiltration.GATKVariantFiltrationNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkvariantfiltration.GATKVariantFiltrationNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkphasebytransmission.GATKPhaseByTransmissionNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkphasebytransmission.GATKPhaseByTransmissionNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.limma.LimmaNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.limma.LimmaNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.DESeq.DESeqNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.DESeq.DESeqNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.edgeR.EdgeRNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.edgeR.EdgeRNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.filterLowExpressed.FilterLowExpressedNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.filterLowExpressed.FilterLowExpressedNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.featureCountsMerger.FeatureCountsMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.featureCountsMerger.FeatureCountsMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/rna" factory-class="de.helmholtz_muenchen.ibis.ngs.mats.MatsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.mats.MatsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.depthofcoverage.DepthOfCoverageNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.depthofcoverage.DepthOfCoverageNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.plotdepthofcoverage.PlotDepthOfCoverageNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.plotdepthofcoverage.PlotDepthOfCoverageNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.kggseq.KGGSeqNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.kggseq.KGGSeqNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.vqsr.VQSRNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vqsr.VQSRNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.summarizelof.SummarizeLOFNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.summarizelof.SummarizeLOFNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkselectvariants.GATKSelectVariantsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkselectvariants.GATKSelectVariantsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.vcfmerger.VCFMergerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcfmerger.VCFMergerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkfiltervqslod.GATKFilterVQSLODNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkfiltervqslod.GATKFilterVQSLODNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/" factory-class="de.helmholtz_muenchen.ibis.ngs.fillmissinggenotypes.FillMissingGenotypesNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.fillmissinggenotypes.FillMissingGenotypesNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/" factory-class="de.helmholtz_muenchen.ibis.ngs.filtergatkvariants.FilterGATKVariantsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.filtergatkvariants.FilterGATKVariantsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/" factory-class="de.helmholtz_muenchen.ibis.ngs.reordervcf.ReorderVCFNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.reordervcf.ReorderVCFNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkbamtopileup.GATKBAMtoPileupNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkbamtopileup.GATKBAMtoPileupNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkgenotypeconcordance.GATKGenotypeConcordanceNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkgenotypeconcordance.GATKGenotypeConcordanceNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.plotgatkgenotypeconcordance.PlotGATKGenotypeConcordanceNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.plotgatkgenotypeconcordance.PlotGATKGenotypeConcordanceNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkhaplotypecaller.GATKHaplotypeCallerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkhaplotypecaller.GATKHaplotypeCallerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkcombinegvcfs.CombineGVCFsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkcombinegvcfs.CombineGVCFsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre/ngs_seq" factory-class="de.helmholtz_muenchen.ibis.ngs.frost.FrostNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.frost.FrostNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre/ngs_seq" factory-class="de.helmholtz_muenchen.ibis.ngs.frostslilhelper.FrostsLilHelperNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.frostslilhelper.FrostsLilHelperNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre/ngs_seq" factory-class="de.helmholtz_muenchen.ibis.ngs.art.ArtNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.art.ArtNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_pre/ngs_seq" factory-class="de.helmholtz_muenchen.ibis.ngs.art.artslilhelper.ArtsLilHelperNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.art.artslilhelper.ArtsLilHelperNodeFactory"/>

		<!-- LoF Workflow nodes -->
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.vcfloader.VCFLoaderNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcfloader.VCFLoaderNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkrealignment.GATKRealignmentNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkrealignment.GATKRealignmentNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkbaserecalibration.GATKBaseRecalibrationNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkbaserecalibration.GATKBaseRecalibrationNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/gatk" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkunifiedgenotyper.GATKUnifiedGenotyperNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkunifiedgenotyper.GATKUnifiedGenotyperNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.pindel.PindelNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.pindel.PindelNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.picard.PicardToolsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.picard.PicardToolsNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.vat.VATNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vat.VATNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.filtersummary.FilterSummaryNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.filtersummary.FilterSummaryNodeFactory"/>
		
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.vcfnormalizer.VCFNormalizerNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcfnormalizer.VCFNormalizerNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.lofsummary.LOFSummaryNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.lofsummary.LOFSummaryNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post/anno" factory-class="de.helmholtz_muenchen.ibis.ngs.vep.VEPNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vep.VEPNodeFactory"/>
		<node category-path="/ibis/ngs/ngs_post" factory-class="de.helmholtz_muenchen.ibis.ngs.vcffilter.VCFFilterNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.vcffilter.VCFFilterNodeFactory"/>
		
			
		<!-- METABOLOMICS -->
		<node category-path="/ibis/metabolomics/pre" factory-class="de.helmholtz_muenchen.ibis.metabolomics.imputing.ImputerNodeFactory" id="de.helmholtz_muenchen.ibis.metabolomics.imputing.ImputerNodeFactory"/>
		<node category-path="/ibis/graphicalModels" factory-class="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.mixedGraphicalModels.edgeRanking.MixedGraphicalModelsEdgeRankingNodeFactory" id="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.mixedGraphicalModels.edgeRanking.MixedGraphicalModelsEdgeRankingNodeFactory"/>
		<node category-path="/ibis/graphicalModels" factory-class="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.mixedGraphicalModels.modelExtraction.MixedGraphicalModelsExtractionNodeFactory" id="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.mixedGraphicalModels.modelExtraction.MixedGraphicalModelsExtractionNodeFactory"/>
		<node category-path="/ibis/graphicalModels" factory-class="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.gaussianGraphicalModel.GaussianGraphicalModelNodeFactory" id="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.gaussianGraphicalModel.GaussianGraphicalModelNodeFactory"/>
		<node category-path="/ibis/graphicalModels" factory-class="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.mixedGraphicalModels.edgeRankingFDRbackground.MixedGraphicalModelsEdgeRankingBackgroundNodeFactory" id="de.helmholtz_muenchen.ibis.metabolomics.graphicalModels.mixedGraphicalModels.edgeRankingFDRbackground.MixedGraphicalModelsEdgeRankingBackgroundNodeFactory"/>
		
		<!-- MISC -->
		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.countMissing.CountMissingNodeFactory" id="de.helmholtz_muenchen.ibis.CountMissing.CountMissingNodeFactory"/>
		<!--<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.RNodes.Template.RNodeTemplateNodeFactory" id="de.helmholtz_muenchen.ibis.RNodes.Template.RNodeTemplateNodeFactory"/>-->
		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.shuffleData.ShuffleDataNodeFactory" id="de.helmholtz_muenchen.ibis.shuffleData.ShuffleDataNodeFactory"/>
		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.sleepnode.SleepNodeNodeFactory" id="de.helmholtz_muenchen.ibis.sleepnode.SleepNodeNodeFactory"/>
  		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.adjustPvalues.PValAdjustNodeFactory" id="de.helmholtz_muenchen.ibis.misc.adjustPvalues.PValAdjustNodeFactory"/>
		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.outlierRemoval.OutlierRemovalNodeFactory" id="de.helmholtz_muenchen.ibis.misc.outlierRemoval.OutlierRemovalNodeFactory"/>
  		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.normalize.NormalizeNodeFactory" id="de.helmholtz_muenchen.ibis.misc.normalize.NormalizeNodeFactory"/>
  		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.pca.PCANodeFactory" id="de.helmholtz_muenchen.ibis.misc.pca.PCANodeFactory"/>
  		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.regression.RegressionNodeFactory" id="de.helmholtz_muenchen.ibis.misc.regression.RegressionNodeFactory"/>
  		<node category-path="/ibis/misc" factory-class="de.helmholtz_muenchen.ibis.misc.regression.batch.RegressionBatchNodeFactory" id="de.helmholtz_muenchen.ibis.misc.regression.batch.RegressionBatchNodeFactory"/>
  		
  		<!-- PLOTTING -->
		<node category-path="/ibis/plotting" factory-class="de.helmholtz_muenchen.ibis.plotting.boxplot.BoxplotNodeFactory" id="de.helmholtz_muenchen.ibis.plotting.boxplot.BoxplotNodeFactory"/>
		<node category-path="/ibis/plotting" factory-class="de.helmholtz_muenchen.ibis.plotting.histogram.HistogramNodeFactory" id="de.helmholtz_muenchen.ibis.plotting.histogram.HistogramNodeFactory"/>
		<node category-path="/ibis/plotting" factory-class="de.helmholtz_muenchen.ibis.plotting.barplot.BarplotNodeFactory" id="de.helmholtz_muenchen.ibis.plotting.barplot.BarplotNodeFactory"/>
		<node category-path="/ibis/plotting" factory-class="de.helmholtz_muenchen.ibis.plotting.scatterplot.ScatterplotNodeFactory" id="de.helmholtz_muenchen.ibis.plotting.scatterplot.ScatterplotNodeFactory"/>
		
		<node category-path="/" factory-class="de.helmholtz_muenchen.ibis.htetrigger.HTETriggerNodeFactory" id="de.helmholtz_muenchen.ibis.htetrigger.HTETriggerNodeFactory"/>

<node category-path="/" factory-class="de.helmholtz_muenchen.ibis.ngs.gatkgenotypegvcfs.GenotypeGVCFsNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.gatkgenotypegvcfs.GenotypeGVCFsNodeFactory"/>
<node category-path="/" factory-class="de.helmholtz_muenchen.ibis.ngs.grouplofgenes.GroupLoFGenesNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.grouplofgenes.GroupLoFGenesNodeFactory"/>
<node category-path="/" factory-class="de.helmholtz_muenchen.ibis.ngs.extendgenesummary.ExtendGeneSummaryNodeFactory" id="de.helmholtz_muenchen.ibis.ngs.extendgenesummary.ExtendGeneSummaryNodeFactory"/>
</extension>
	<extension point="org.knime.workbench.repository.categories">
		<category icon="/libs/icons/ibis.png" level-id="ibis" name="Helmholtz IBIS" path="/"/>
		<!-- NGS -->
		<category icon="/libs/icons/icon_ngs.png" level-id="ngs" name="Next Generation Sequencing" path="/ibis/"/>
		<category icon="/libs/icons/icon_r_red2.png" level-id="ngs_seq" name="Sequenciator" path="/ibis/ngs/ngs_pre/"/>
		<category icon="/libs/icons/icon_r_red2.png" level-id="ngs_pre" name="Preprocessing" path="/ibis/ngs/"/>
		<category icon="/libs/icons/icon_r_yellow2.png" level-id="ngs_asm" name="Mapping" path="/ibis/ngs/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="ngs_post" name="Postprocessing" path="/ibis/ngs/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="gatk" name="GATK" path="/ibis/ngs/ngs_post/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="anno" name="Annotation" path="/ibis/ngs/ngs_post/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="rna" name="RNA-Seq" path="/ibis/ngs/ngs_post/"/>
		<category icon="/libs/icons/icon_r_green2.png" level-id="sam" name="Samtools" path="/ibis/ngs/ngs_post/"/>
		<!-- METABOLOMICS -->
		<category icon="/libs/icons/metabolomics_sugar.png" level-id="metabolomics" name="Metabolomics" path="/ibis/"/>
		<category icon="/libs/icons/metabolomics_pre.png" level-id="pre" name="Pre-" path="/ibis/metabolomics/"/>
		<category icon="/libs/icons/metabolomics_post.png" level-id="post" name="Post-" path="/ibis/metabolomics/"/>
		<!-- PLOTTING -->
		<category icon="/libs/icons/metabolomics_sugar.png" level-id="plotting" name="Plotting" path="/ibis/"/>
		<!-- MISC -->
		<category icon="/libs/icons/ibis.png" level-id="misc" name="Misc" path="/ibis/"/>
		<!-- GRAPHICAL MODELS -->
		<category icon="/libs/icons/graphicalModels/network_sans.png" level-id="graphicalModels" name="Graphical Models" path="/ibis/"/>
	</extension>
   
   
   
      <extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.workbench.ui.preferences" class="de.helmholtz_muenchen.ibis.knime.preferences.KNIMEPreferencePage" id="de.helmholtz_muenchen.ibis.knime.preferences.KNIMEPreferencePage" name="KNIME4NGS"/>
   </extension>
   
   
</plugin>
